@font-face {
    font-family: JetBrainsMono;
    src: url(../fonts/JetBrainsMonoNerd-Regular.ttf);
}

:root {
    --background-color: #292a2b;
    --foreground-color: #b0b3b8;
}

* {
    font-family: JetBrainsMono;
    color: var(--foreground-color);
}

body {
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 98vh;
}

/* .inquiry label,
input,
textarea {
    color: var(--foreground-color);
} */

.inquiry label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.inquiry textarea {
    resize: none;
    width: 29.7vw !important;
    height: 20px;
    overflow: hidden;
}

#description_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inquiry textarea,
.inquiry input,
.inquiry button {
    border: var(--foreground-color) 0.15em solid;
    outline: none;
    padding: 0.5em;
    margin: 0.2em;
    background: transparent;
    width: 30vw;
}