<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/dark.css"> -->
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/flatpickr.css"/>
    <script src="/static/js/script.js" defer></script>
</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- <script src="/static/js/flatpickr"></script> -->
</body>

</html>