{% extends "base.html" %}

{% block content %}


<div class="inquiry">
    <form id="inquiry_form" action="" method="POST" onsubmit="check_times(); return false;">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="summary">Event summary:</label>
            <input type="text" name="summary" required>
        </div>
        <div>
            <label for="start_time">Start:</label>
            <input type="datetime-local" class="datetime-picker" name="start_time" required>
        </div>
        <div>
            <label for="end_time">End:</label>
            <input type="datetime-local" class="datetime-picker" name="end_time" required>
        </div>
        <div id="description_div">
            <label for="description">Description:</label>
            <textarea id="description_textarea" name="description"></textarea>
        </div>
        <input type="submit" value="Send inquiry">
    </form>
</div>

{% endblock %}