{% extends "base.html" %}

{% block content %}

<div class="success">
    <h1>Inqury for {{ summary }} sent successfully </h1>
    <p>{{ name }}</p>
    {# <p>{{ summary }}</p> #}
    <p>{{ start_time }}</p>
    <p>{{ end_time }}</p>
</div>

{% endblock %}